<!--The footer-->
<div id="spacingDiv" style="clear: both; height: 50px;"></div>
<div id="footer">
    <div  id="footerTextDiv">
        <!--Legal information regarding BactBook and its data-->
        <p id="footerText">Copyright © 2023 BactBook Project Team. All rights reserved.</p>
    </div>
</div>